@import '../../../theme.less';

.palette-select-dropdown {
  padding: 0;
  color: @m-text-color;
  background-color: @input-bg-color;
  border: 1px solid @color-primary;

  .rc-virtual-list-holder-inner {
    .ant-select-item {
      min-height: 26px;
      padding: 0 !important;
      overflow: hidden;
      font-size: 12px;
      background: transparent;

      &.ant-select-item-option-selected .palette-select-dropdown-menu-item {
        // border: 1px solid @color-primary;
        background-color: #313030;
      }

      .palette-select-dropdown-menu-item  {
        display: flex;
        width: 100%;
        padding: 0 6px;
        & > span {
          display: inline-block;
          flex: 1;
          height: 10px;
        }

        &:hover {
          background: #303640;
          border: 1px solid @color-primary;
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.palette-select-dropdown-menu {
  display: flex;
  align-items: center;
  height: 32px;
  .ant-select-selector {
    .ant-select-selection-item {
      .palette-select-dropdown-menu-item  {
        display: flex;
        width: 100%;
        & > span {
          display: inline-block;
          flex: 1;
          height: 10px;
        }
      }
    }
  }

  .palette-setting {
    padding-left: 10px;
  }
}
