
  
  @import '../../../../theme.less';
  
  .dv-req-data-setting {
    .ant-select.apitype-selectd {
      .ant-select-selector {
        height: 30px !important;
        line-height: 30px !important;
        .ant-select-selection-item {
          height: 30px !important;
          line-height: 27px !important;
        }
      }
    }

    .url-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4px;
    
      .api-help {
        color: @color-primary;
      }
    }
    
  
    .url-info-text {
      margin-bottom: 10px;
    }
    
  }
