{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": {
            "version": 3,
            "proposals": true
          }
        }
      ],
      "@babel/typescript",
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread",
      "@babel/plugin-transform-runtime",
      "./config/plugins/auto-css-modules",
      ["import", {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true
      },"antd"],
      ["import", {
        "libraryName": "@formily/antd",
        "libraryDirectory": "esm",
        "style": true
      }, "@formily/antd"]
      // ["import", {
      //   "libraryName": "ahooks",
      //   "libraryDirectory": "es",
      //   "style": false
      // }, "ahooks"]
    ]
  }
