@import '../theme.less';

.dv-settings-form {
  position: relative;
  z-index: 9;
  height: 100%;
  overflow: hidden;
  background: @background-color;
  border-left: solid 1px #000;
  transition: all 0.3s;

  .ant-formily-layout,
  form,
  .my-form-tab {
    height: 100%;
    background-color: #171b22;
  }

  textarea.ant-input {
    margin: 8px 0;
  }

  .ant-input {
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #1c222b;
      border-radius: 0;
      box-shadow: inset 0 0 inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #434b55;
    }
  }
}
