@import '../../../theme.less';

.global-config-drawer {
  .data-source-container {
    background-color: @input-bg-color;
    border: 1px solid @m-border-color;
  }

  .ant-collapse-ghost {
    padding: 8px 8px 0;
    .ant-collapse-content {
      color: @m-text-color;
    }
    .ant-collapse-content-active {
      border-top: 1px solid #566273;
      transition: border-color .2s;
    }
  }


  .global-config-source {
    margin-bottom: 8px;
    background: #262c33;
    border: 1px solid #566273;
    transition: border-color .2s;

    .ant-collapse-header {
      padding: 4px 10px;
      color: #bcc9d4;

      .ant-collapse-arrow {
        right: 8px;
      }
    
    
    .global-config-header {
        display: flex;
        align-items: center;
        padding-right: 16px;

        .ant-input-affix-wrapper-sm {
          width: 150px;
        }
    
        .ant-input:focus, .ant-input-focused {
          box-shadow: none;
        }
        .ant-checkbox-wrapper {
          padding-right: 4px;
        }

        .fill-up {
          flex: 1;
        }

        
      }
    }
  }
}

.dv-data-array-collapse {
// 确认框
.ant-popover {
  .ant-popover-inner {
    background-color: #1d2126;
  }
  .ant-popover-arrow-content {
    background-color: transparent;
    &::before {
      background: linear-gradient(to left, #1890ff 50%, #1890ff 50%) no-repeat -10px -10px;
    }
  }

  .ant-popover-content {
    border: 1px solid #1890ff;
    .ant-popover-message {
      color: @m-text-color;
    }
  }
  .ant-btn {
    font-size: 12px;
  }
  .ant-btn-default {
    color: @m-text-color;
    border-color: @m-border-color;
  }

  .ant-btn-primary {
    color: @m-text-color;
  }
}
}
