.widgets-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s;

    &:hover{
      cursor: pointer;
    }
  }
}
